@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #fff;
        --full-background-color: #222;
        --background-color: #222;
        --background-1-color: #333;
        --background-2-color: #444;
    }
    a, a:visited {
        color: #00A4FB;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: #000;
        --full-background-color: #fff;
        --background-color: #eee;
        --background-1-color: #ddd;
        --background-2-color: #ccc;
    }
}



html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    overflow: hidden;
    color: var(--foreground-color);
}

input, textarea {
    background: var(--full-background-color);
    color: var(--foreground-color);
    border: 1px var(--background-color);
}

#canvas {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.sidebar {
    display: none;
    opacity: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 0;
    box-sizing: border-box;
    overflow: auto;
    background: var(--background-1-color);
}

.sidebar-open {
    display: block;
    opacity: 1;
    width: 25%;
}

.menubar-dummy {
    padding: 0.5em;
}

.sidebar-content {
    padding: 3em 1em 1em 1em;
    background: var(--background-1-color);
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#menubar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--background-color);
    padding: 0 0.5em;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    z-index: 100;
}

#menubar input, #menubar input:focus {
    background: rgba(0, 0, 0, 0);
    border: 0;
    margin: 0.5em 0;
    padding: 0;
    font-size: 1em;
    color: var(--foreground-color);
}

#menubar input::placeholder {
    color: #666;
}

.title {
    float: left;
}

.button {
    float: left;
    cursor: pointer;
}

.button i {
    font-size: 1em;
    display: block;
    padding: 0.5em 0.2em;
}

.button + .button {
    margin-left: 0.5em;
}

.button:hover {
    background: var(--background-2-color);
}


.right {
    float: right;
}

.help-text, .build-settings, .output-log, .property-inspector {
    display: none;
    width: 100%;
    flex-grow: 1;
}

p, .help-text ul, h2, h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}


h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

.shown {
    display: block;
}

.build-settings input, .property-inspector input {
    font-family: monospace;
}

.build-settings>fieldset {
    margin-bottom: 0.5em;
}

fieldset {
    border: 1px solid var(--foreground-color);
}

.button-focus {
    background: var(--background-1-color);
}

.output-log {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.shown-log {
    display: flex;
}

.outlog-code, .outlog-text {
    font-family: monospace;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: auto;
}
